<div id="footer">
   <div class="footer text-center">
      <ul class="list-inline">
      <li><% link_to "#"do %><i class="fa fa-youtube" aria-hidden="true"></i></li><% end %>
      <li><% link_to "#"do %> <i class="fa fa-facebook" aria-hidden="true"></i></li><% end %>
      <li><% link_to "#"do %> <i class="fa fa-twitter" aria-hidden="true"></i></li><% end %>
      <li><% link_to "#"do %> <i class="fa fa-instagram" aria-hidden="true"></i></li><% end %>
      </ul>
      <p>This is a Airbnb Home challenge @ LeWagon</p>
    </div>
</div>
